
# mkdir src/modules/user -Force
# >> 
# >> "controller","middleware","service","routes","model" | ForEach-Object {
# >>     New-Item "src/modules/user/auth.$_.js" -ItemType File
# >> }

PORT = "ENTER YOURS"
NODE_ENV = "DEVELOPMENT"
MONGODB_URI = "ENTER YOURS"

JWT_ACCESS_SECRET = "ENTER YOURS"
JWT_ACCESS_EXPIRES_IN = "ENTER YOURS"  
JWT_REFRESH_SECRET = "ENTER YOURS"
JWT_REFRESH_EXPIRES_IN = "ENTER YOURS"
