PORT=5050;
NODE_ENV="DEVELOPMENT"
MONGODB_URI=mongodb://admin:password@localhost:27017/myapp?authSource=admin
JWT_ACCESS_SECRET = "chaicodealongstring"
JWT_ACCESS_EXPIRES_IN = "45m"       
JWT_REFRESH_SECRET = "somthingnewsecret"
JWT_REFRESH_EXPIRES_IN = "7d"   

# ranjann805_db_user
# BcHheixsbTAKvzz0




SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=841ee01e5d4464
SMTP_PASS=4044dea30525f6
SMTP_FROM_NAME=Ranjan NAYAK
SMTP_FROM_EMAIL=noreply@example.com


CLIENT_URL=http://localhost:5050

# mkdir src/modules/user -Force
# >> 
# >> "controller","middleware","service","routes","model" | ForEach-Object {
# >>     New-Item "src/modules/user/auth.$_.js" -ItemType File
# >> }

PORT = "ENTER YOURS"
NODE_ENV = "DEVELOPMENT"
MONGODB_URI = "ENTER YOURS"

JWT_ACCESS_SECRET = "ENTER YOURS"
JWT_ACCESS_EXPIRES_IN = "ENTER YOURS"  
JWT_REFRESH_SECRET = "ENTER YOURS"
JWT_REFRESH_EXPIRES_IN = "ENTER YOURS"
